@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    background: url(https://i.pinimg.com/originals/4d/4f/32/4d4f328ea4fdc2e19ed979b1ff28d576.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(60%);
    height: 100vh;
    width: 100%;
}

/* Cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 10vh;
}

.logo img {
    height: 100px;
}

/* Login */

section {
    height: 100vh;
    width: 100%;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 500px;
    background:linear-gradient(to bottom, rgb(255, 255, 255), rgb(219, 172, 255)) ;
    border-radius: 10px;
}

.title {
    position: relative;
    top: 20%;
}

.title h1 {
    text-align: center;
    font-size: 3em;
    background-image: linear-gradient(to bottom, rgb(200, 29, 200), rgb(140, 53, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputs input {
    padding: 10px 25px 10px 25px;
    background: linear-gradient(to right, rgb(200, 29, 200), rgb(140, 53, 207));
    color: white;
    border: none;
    transition: .4s;
    text-align: center;
}

::-ms-reveal {
    display: none;
}

.inputs input:focus {
    border-radius: 0px 10px 0px 10px;
    outline: none;
}

.inputs input::placeholder {
    color: white;
}

.btn-login {
    border: none;
    padding: 7px 30px;
    border-radius: 0px 10px 0px 10px;
    background: linear-gradient(to right, rgb(200, 29, 200), rgb(140, 53, 207));
    color: white;
    cursor: pointer;
    transition: .4s;
}

.btn-login:hover {
    box-shadow: 0px 1px 6px black;
}

.inputs {
    position: relative;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

/* Registro */

.cadastro {
    bottom: 20%;
    position: absolute;
}

.registro {
    transition: .5s;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 500px;
    background:linear-gradient(to bottom, rgb(255, 255, 255), rgb(219, 172, 255)) ;
    border-radius: 10px;
}

.header-reg {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 3rem 2rem 0rem 0rem;
}

.btn-cadastro_header {
    position: relative;
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(200, 29, 200), rgb(140, 53, 207));
    color: white;
    transition: .4s;
    font-size: .8em;
    cursor: pointer;
}

.btn-cadastro_header:hover {
    box-shadow: 0px 1px 6px black;
}

.title-reg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 3em;
    background-image: linear-gradient(to bottom, rgb(200, 29, 200), rgb(140, 53, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem 0;
}

.inputs-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.inputs-reg input {
    padding: 10px 25px 10px 25px;
    background: linear-gradient(to right, rgb(200, 29, 200), rgb(140, 53, 207));
    color: white;
    border: none;
    transition: .4s;
    text-align: center;
    margin: 9px 0;
}

.inputs-reg input::placeholder {
    color: white;
}

.inputs-reg input:focus {
    border-radius: 0px 10px 0px 10px;
    outline: none;
}

.termos {
    position: relative;
    bottom: 6rem;
    text-align: center;
}

.btn-cadastro {
    border: none;
    padding: 7px 40px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(200, 29, 200), rgb(140, 53, 207));
    color: white;
    cursor: pointer;
    transition: .4s;
    position: relative;
    top: 10px;
}

.btn-cadastro:hover {
    box-shadow: 0px 1px 6px black;
}

#termos {
    margin: 2rem 1rem;
}

#name-reg {
    position: relative;
}

/* Classes Modals */

.off {
    opacity: 0;
    top: 0%;
    pointer-events: none;
}
    
.on {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.on-error {
    opacity: 1;
    top: 10%;
}

.off-background {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

.on-background {
    z-index: 10;
    opacity: .9;
    display: inline-block;
}

.validated {
    transition: .5s; 
    box-shadow: 0px 0px 10px rgb(87, 212, 87);
}

.error {
    transition: 1s;
    box-shadow: 0px 0px 10px rgb(212, 87, 87);
}

.modal-error {
    position: absolute;
    z-index: 20;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: 1s;
    height: 100px;
    width: 300px;
    background:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(200, 29, 200);
    animation: float 3s ease-in-out infinite;
}

.modal-error h3 {
    font-size: .9em;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(200, 29, 200), rgb(140, 53, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-modal {
    transition: 1s;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.login-validated {
    transition: .5s;
    text-align: center;
    position: absolute;
    left: 43%;
    height: 300px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 6s ease-in-out infinite ;
}

.login-validated img {
    height: 200px;
}

.login-validated h2 {
    padding: 0 2rem;
    font-size: 2em;
    background-image: linear-gradient(to bottom, rgb(200, 29, 200), rgb(140, 53, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-on {
    top: 20%;
    opacity: 1;
    z-index: 15;
}

/* Animacoes */

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }
}

@keyframes rotate {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }
}

/* Responsivo */

@media screen and (max-width:768px){
    header {
        display: none;
    }
    .card {
        height: 600px;
        width: 400px;
    }

    .registro {
        height: 600px;
        width: 400px;
    }

    .termos {
        font-size: .9em;
        padding: 2rem 0;
    }

    .modal-error {
        left: 27%;
    }

    .login-validated {
        left: 35%;
    }
}